<div>Todo List</div>
<div class="grid grid-cols-12">
    <div class="col-span-2">
        <div>Topic</div>
        <div>
            <div class="flex">
                <div class="w-4/6 p-2">
                    <input type="text" class="p-2 border border-emerald-300 bg-emerald-600 text-white font-bold hover:rounded" [(ngModel)]="newTopicText"/>
                </div>
                <div class="w-2/6">
                    <button class="p-2 border border-emerald-300 bg-emerald-600 rounded text-white font-bold" (click)="createTopic()">+</button>
                </div>
            </div>
            <div *ngFor="let t of topic">
                <app-topic [id]="t.id" [text]="t.text" [status]="t.status" 
                    (selectTopic)="selectTopic($event)"
                    (deleteTopic)="deleteTopic($event)"
                ></app-topic>
            </div>
        </div>
    </div>
    <div class="col-span-10">
        <div>List</div>
        <div>
            <div *ngFor="let l of list">
                <app-list [id]="l.id" [text]="l.text" [status]="l.status" [topicId]="l.topicId"
                    (update)="updateList($event)"
                    (delete)="deleteList($event)" 
                ></app-list>
            </div>
        </div>
    </div>
</div>
